body {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  background: plum;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  min-width: 50vh;
  display: grid;
  place-items: top;
  padding-bottom: 60px;
}

.container .content {
  text-align: center;
}

.container .content h1 {
  font-size: 40px;
  color: darkslateblue;
  padding: 5px 0;
}

.container .content p {
  font-size: 25px;
  color: darkslateblue;
  padding: 5px 0;
}

.polaroid {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 25px;
  max-width: 25%;
  
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid p {
  font-size: 25px;
  color: slategrey;
  padding: 5px 0;
}

.polaroid img {
  width: 90%;
  padding: 25px;
  height: auto;
}

.polaroid video {
  width: 90%;
  padding: 25px;
  height: auto;
}


