body {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  background-image: url("board-background.png");
  text-transform: capitalize;
  font-family: "Bradley Hand";
}

.container {
  min-width: 50vh;
  display: grid;
  place-items: top;
  padding: 0 60px;
}

.container .content {
  text-align: center;
}

.container .content h1 {
  font-size: 40px;
  color: black;
  padding: 5px 0;
}

.container .content p {
  font-family: "Bradley Hand";
  font-size: 25px;
  color: black;
  padding: 5px 0;
}

.polaroid {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 25px;
  max-width: 500px;
  
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid p {
  font-size: 25px;
  color: slategrey;
}

.polaroid img {
  width: 90%;
  padding: 25px;
  height: auto;
}

.polaroid video {
  width: 90%;
  padding: 25px;
  height: auto;
}


