body {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  background: plum;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  min-width: 50vh;
  display: grid;
  place-items: top;
  padding-bottom: 60px;
}

.container .content {
  text-align: center;
}

.container .content h1 {
  font-size: 40px;
  color: darkslateblue;
  padding: 5px 0;
}

.container .content p {
  font-size: 25px;
  color: darkslateblue;
  padding: 5px 0;
}

.polaroid {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-style: solid;
}

.polaroid p {
  font-size: 25px;
  padding: 5px 0;
}

.polaroid img {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}


